<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <title>
    Web Lab
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/ajustes.css"/>
  <!-- CSS Files -->
  <link href="css/material-dashboard.css?v=2.1.0" rel="stylesheet"/>
  <link rel="stylesheet" href="css/ajustes.css"/>
  <link rel="shortcut icon" href="img/imagens-weblab/weblab-icone.ico"/>
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <!-- <link href="../assets/demo/demo.css" rel="stylesheet" /> -->
</head>

<body>
  <!--Menu-->
  <div class="wrapper">
    <div class="sidebar" data-color="green" data-background-color="black">
      <div class="logo">
        <a href="" class="simple-text logo-normal">
          Web Lab
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item">
            <form class="logout2" action="/logout" method="POST">
              <button type="submit"><i class="material-icons nav-link">logout</i><p>Sair</p></button>
            </form>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home">
              <i class="material-icons">home</i>
              <p>Página inicial</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/usuario">
              <i class="material-icons">person</i>
              <p>Perfil de usuário</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/agendamentos">
              <i class="material-icons">calendar_today</i>
              <p>Agendamentos</p>
            </a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="/tecnicos">
              <i class="material-icons">supervisor_account</i>
              <p>Técnicos dos laboratórios</p>
            </a>
          </li>
          <%if (nivelUsuario == "1") {%>
            <li class="nav-item">
              <a class="nav-link" href="/pagina_cadastro_usuarios">
                <i class="material-icons">assignment_ind</i>
                <p>Cadastrar usuários</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cadastro_itens">
                <i class="material-icons">assignment</i>
                <p>Cadastrar itens</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cadastro_avisos">
                <i class="material-icons">assignment_late</i>
                <p>Cadastrar avisos</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/lista_agendamentos">
                <i class="material-icons">list</i>
                <p>Lista de agendamentos</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/lista_usuarios">
                <i class="material-icons">people</i>
                <p>Lista de usuários</p>
              </a>
            </li>
          <%}%> 
          <li class="nav-item">
            <a class="nav-link" href="/equipamentos">
              <i class="material-icons">build</i>
              <p>Equipamentos</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/produtos">
              <i class="material-icons">bubble_chart</i>
              <p>Produtos</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mural_avisos">
              <i class="material-icons">notifications</i>
              <p>Mural de avisos</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--Menu-->
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">Produtos</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
            aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
        </div>
      </nav>
      <!-- End Navbar -->
      <!-- Conteúdo principal -->
      <div class="content mt-1">
        <div class="content-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header bg-success">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <h3 class="card-title text-white">Produtos</h3>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="pull-right">
                        <form class="navbar-form" action="/search_produto" method="POST">
                          <div class="input-group no-border">
                            <input type="text" id="pesquisar_id" name="nome_produto" class="form-control" placeholder="Nome do produto">
                            <button type="submit" id="botaoPesquisar_id" class="btn btn-default btn-round btn-just-icon">
                              <i class="material-icons">search</i>
                              <div class="ripple-container"></div>
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <%if (produtos.length > 0) {%>
                      <%for (let i = 0; i < produtos.length; i++) {%>
                        <%if (produtos[i].status_produto == "DISPONÍVEL") {%>
                          <div class="col-md-3">
                            <ul class="list-group borda2 text-center mt-1">
                              <li class="list-group-item borda2"><img src="img/imagens-produtos/<%=produtos[i].imagem_produto%>" class="img-fluid imagem-produto" alt="Imagem indisponível"></li>
                              <li class="list-group-item borda2 bg-success text-white"><%=produtos[i].status_produto%></li>
                              <li class="list-group-item borda2"><%=produtos[i].nome_produto%></li>
                              <li class="list-group-item borda2"><%=produtos[i].formula_produto%></li>
                              <li class="list-group-item borda2">Unidades: <%=produtos[i].quantidade_produto%></li>
                              <li class="list-group-item borda2"><%=produtos[i].nome_laboratorio%></li>
                              <%if (nivelUsuario == "1") {%>
                                <li class="list-group-item borda2"><a href="/dados_produto?id_produto=<%=produtos[i].id_produto%>" class="btn">EDITAR</a></li>
                              <%}%>
                              <%if (nivelUsuario == "1") {%>
                                <li class="list-group-item borda2"><button class="btn btn-danger" data-toggle="modal"
                                  data-target="#modal" onclick="excluir2('<%=produtos[i].id_produto%>')">EXCLUIR</button></li>
                              <%}%>
                            </ul>
                          </div>
                        <%} else {%>
                          <div class="col-md-3">
                            <ul class="list-group borda2 text-center mt-1">
                              <li class="list-group-item borda2"><img src="img/imagens-produtos/<%=produtos[i].imagem_produto%>" class="img-fluid imagem-produto"></li>
                              <li class="list-group-item borda2 bg-danger text-white"><%=produtos[i].status_produto%></li>
                              <li class="list-group-item borda2"><%=produtos[i].nome_produto%></li>
                              <li class="list-group-item borda2"><%=produtos[i].formula_produto%></li>
                              <li class="list-group-item borda2">Unidades: <%=produtos[i].quantidade_produto%></li>
                              <li class="list-group-item borda2"><%=produtos[i].nome_laboratorio%></li>
                              <%if (nivelUsuario == "1") {%>
                                <li class="list-group-item borda2"><a href="/dados_produto?id_produto=<%=produtos[i].id_produto%>" class="btn">EDITAR</a></li>
                              <%}%>
                              <%if (nivelUsuario == "1") {%>
                                <li class="list-group-item borda2"><button class="btn btn-danger" data-toggle="modal"
                                  data-target="#modal" onclick="excluir2('<%=produtos[i].id_produto%>')">EXCLUIR</button></li>
                              <%}%>
                            </ul>
                          </div>
                        <%}%>  
                      <%}%>  
                    <%}%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <!-- Conteúdo principal -->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="modalLabel">Tem certeza que deseja excluir o produto?</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/excluir_produto" method="POST">
            <input type="text" class="invisivel" name="id_excluir_produto" id="confirmar_exclusao" value="" readonly/>
            <button class="btn btn-danger botao_excluir col-md-12">EXCLUIR</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--   Core JS Files   -->
  <script src="js/ajustes.js"></script>
  <script src="js/core/jquery.min.js"></script>
  <script src="js/core/popper.min.js"></script>
  <script src="js/core/bootstrap-material-design.min.js"></script>
  <script src="https://unpkg.com/default-passive-events"></script>
  <script src="js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!--  Google Maps Plugin    -->
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
  <!-- Chartist JS -->
  <script src="js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="js/material-dashboard.js?v=2.1.0"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <!-- <script src="demo/demo.js"></script> -->
</body>

</html>